<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% const name = 'Martin' %>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
  <header>
    <h1><%= name %> is using EJS</h1>
  </header>
  <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam, nemo doloremque commodi temporibus quae?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam, nemo doloremque commodi temporibus quae?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quisquam, nemo doloremque commodi temporibus quae?</p>
  </main>
  <footer>&copy; Copyright Foo</footer>
</body>
</html>